{%- comment -%}
  Renders product price.
  Accepts:
  - product: {Object} Product Liquid object
  - selected_variant: {Object} Variant Liquid object (optional)
{%- endcomment -%}

{%- assign current_variant = selected_variant | default: product.selected_or_first_available_variant -%}

<div class="prod-pg__pricing">
  <span class="prod-pg__price">{{ current_variant.price | money }}</span>
  {%- if current_variant.compare_at_price > current_variant.price -%}
    <span class="prod-pg__mrp">{{ current_variant.compare_at_price | money }}</span>
    {%- assign saved_pct = current_variant.compare_at_price | minus: current_variant.price | times: 100 | divided_by: current_variant.compare_at_price -%}
    <span class="prod-pg__saved">{{ saved_pct }}% off</span>
  {%- endif -%}
</div>
